services:
  traefik:
    image: traefik:v3.1
    container_name: traefik

    # Load secrets & config values from .env
    env_file:
      - .env

    # Giving Traefik Cloudflare token in its env
    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}

    command:
      # Use a static config file instead of long CLI flags
      - --configFile=/traefik.yml

    ports:
      # Public HTTP / HTTPS
      - "80:80"
      - "443:443"

      # Traefik dashboard bound to VPN interface only.
      - "10.8.0.1:8080:8080"

    volumes:
      # So Traefik can see Docker labels from other containers
      - /var/run/docker.sock:/var/run/docker.sock:ro

      # Static Traefik config file
      - ./traefik.yml:/traefik.yml:ro

      # ACME storage (certificates, account key)
      - ./acme/acme.json:/acme.json

    networks:
      - bounded-net

    restart: unless-stopped

networks:
  # Shared external network used by Traefik and app stacks
  bounded-net:
    external: true